<div>
  <%= render "shared/header"%>
</div>

<div class='main'>

  <div class='store-btn'>
  
      <button type="submit",class="btn-primary", id="start">タイマー開始</button>
      <button type="submit",class="btn-primary", id="stop">停止 </button>
      <button type="submit",class="btn-primary", id="delete">削除 </button>
      <button type="submit",class="btn-primary", id="memory">記録 </button>

      <p class='timer-title'>経過時間<p>

      <div class='timer'>
        <div id="hour", class='counter'>0時間</div>
        <div id="minute", class='counter'>0分</div>
        <div id="second", class='counter'>0秒</div>
      </div>
    
  </div>

</div>

<div class='memory_timer'>

  <%= form_with model: @timer, url:timers_path, local: true do |f| %>

    ジャンル
    <%= f.collection_select(:genre, Genre.all, :id, :name, {}, {class:"m_data", id:"item-category"}) %>

    記録日
    <%= f.text_field :start_time, class:"m_data", id:"memory_date", readonly: true %>

    記録時間
    <%= f.text_field :calc_time, class:"m_data", id:"calc_time", readonly: true %>

    メモ
    <%= f.text_area :comment ,class:"m_data",id:"comment", size: "30x2" %>


    <%= f.submit "保存する",class:"m_data" %>


  <% end %>

  <%= link_to 'ログ', logs_path , class:"link-btn"%>

</div>

<script>

  var testTimer;
  let second = 0;
  let minute = 0;
  let hour = 0;


  function startTimer(){

    testTimer=setInterval(function(){

      second++;
      document.getElementById('second').innerHTML = second + '秒';
      document.getElementById('minute').innerHTML = minute + '分';      
      document.getElementById('hour').innerHTML = hour + '時間';      


      if (second == 60) {

        minute = minute + 1;
        document.getElementById('second').innerHTML = 0 + '秒';
        document.getElementById('minute').innerHTML = minute + '分';
        second = 0;

      }

      if (minute == 60) {
 
        hour = hour + 1;
        document.getElementById('second').innerHTML = 0 + '秒';      
        document.getElementById('minute').innerHTML = 0 + '分';
        document.getElementById('hour').innerHTML = hour + '時間';
        minute = 0;
        second = 0;

      }

    } , 1000);

  }

  function stopTimer(){
    clearInterval(testTimer);
  }

  function deleteTimer(){
    second = 0;
    minute = 0;
    hour = 0;
    document.getElementById('second').innerHTML = 0 + '秒';      
    document.getElementById('minute').innerHTML = 0 + '分';      
    document.getElementById('hour').innerHTML = 0 + '時間';      
  }

  function memoryTimer(){
    //「時」を取得する
    var hh = hour
    //「分」を取得する
    var mm = minute
    //「秒」を取得する
    var ss = second
    document.getElementById('calc_time').value = hh + ":" + mm + ":" + ss;
    document.getElementById('memory_date').value = formatDate(new Date());
  }

  // 日付をYYYY-MM-DDの書式で返すメソッド
  function formatDate(dt) {
    var y = dt.getFullYear();
    var m = ('00' + (dt.getMonth()+1)).slice(-2);
    var d = ('00' + dt.getDate()).slice(-2);
    return (y + '-' + m + '-' + d);
  }


  document.getElementById("start").onclick = () => {
    document.getElementById("start").style.display ="none";
    startTimer();
  }

  document.getElementById("stop").onclick = () => {
    document.getElementById("start").style.display ="inline";
    stopTimer();
  }

  document.getElementById("delete").onclick = () => {
    document.getElementById("start").style.display ="inline";
    document.getElementById("memory_date").value = "";
    document.getElementById("calc_time").value = "";
    deleteTimer();
    stopTimer();
  }

  document.getElementById("memory").onclick = () => {
    document.getElementById("start").style.display ="inline";
    memoryTimer();
    deleteTimer();
    stopTimer();

  }

</script>


<%= render "shared/footer"%>