<h2 class="title-contents">ログイン画面</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.email_field :nickname, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="store-btn">
    <%= f.submit "ログイン" %>
  </div>

  <%= link_to '戻る', root_path%>
<% end %>


