
<div>
  <%= render "shared/header"%>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="store-btn">
    <%= f.submit "ログイン" %>
  </div>

  <%= link_to '戻る', root_path%>
<% end %>

<div>
  <%= render "shared/footer"%>
</div>
