
<div>
  <%= render "shared/header"%>
</div>

<div class='store-btn'>
    <%= link_to '戻る', root_path, class:"link-btn" %>
</div>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.strftime("%Y年 %m月 %d日") %>

  <% meetings.each do |meeting| %>
    <div>
      <% if meeting.genre == 1 %>
        <%= link_to "読書" ,meeting_path(meeting.id), method: :get %>
      <% elsif meeting.genre == 2 %>
        <%= link_to "勉強" ,meeting_path(meeting.id), method: :get %>
      <% else %>
        <%= link_to "その他" ,meeting_path(meeting.id), method: :get %>
      <% end %>

      <%= meeting.calc_time.strftime("%H時 %M分 %S秒") %>
      <%= meeting.comment %>
      
    </div>
  <% end %>
<% end %>

<div>
  <%= render "shared/footer"%>
</div>
